# Скопируй этот файл в .env и заполни своими данными
# Локальная разработка (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=soundgoodizerBD
DB_USER=postgres
DB_PASSWORD=твой_пароль

# Или для облака (Railway автоматически подставит DATABASE_URL)
# DATABASE_URL=postgresql://user:password@host:port/dbname

# Flask
SECRET_KEY=придумай-секретный-ключ-здесь

# Email (Gmail)
MAIL_USERNAME=e.saltymakov06@gmail.com
MAIL_PASSWORD=vbfm gowd elnj nxjg
