USE [master]
GO
/****** Object:  Database [soundgoodizerBD]    Script Date: 09.04.2026 16:26:17 ******/
CREATE DATABASE [soundgoodizerBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'soundgoodizerBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\soundgoodizerBD.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'soundgoodizerBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\soundgoodizerBD_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [soundgoodizerBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [soundgoodizerBD]
GO
/****** Object:  User [soundgoodizer_user]    Script Date: 09.04.2026 16:26:17 ******/
CREATE USER [soundgoodizer_user] FOR LOGIN [soundgoodizer_user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
	[country] [nvarchar](100) NULL,
	[description] [nvarchar](2000) NULL,
	[website] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[brand_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[instrument_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[is_for_rental] [bit] NULL,
	[rental_start_date] [date] NULL,
	[rental_end_date] [date] NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[icon_class] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deliveries]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deliveries](
	[delivery_id] [int] IDENTITY(1,1) NOT NULL,
	[delivery_number] [nvarchar](50) NOT NULL,
	[order_id] [int] NULL,
	[rental_id] [int] NULL,
	[delivery_type] [nvarchar](20) NOT NULL,
	[address_to] [nvarchar](500) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[contact_phone] [nvarchar](20) NULL,
	[delivery_status] [nvarchar](50) NULL,
	[scheduled_date] [date] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[delivery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[delivery_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instrument_conditions]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instrument_conditions](
	[condition_id] [int] IDENTITY(1,1) NOT NULL,
	[condition_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](500) NULL,
	[discount_percentage] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[condition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[condition_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instrument_images]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instrument_images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[instrument_id] [int] NOT NULL,
	[image_url] [nvarchar](500) NOT NULL,
	[alt_text] [nvarchar](200) NULL,
	[sort_order] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instruments]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instruments](
	[instrument_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[brand_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[model] [nvarchar](100) NULL,
	[year_of_manufacture] [int] NULL,
	[purchase_price] [float] NOT NULL,
	[rental_price_per_day] [float] NULL,
	[rental_price_per_week] [float] NULL,
	[rental_price_per_month] [float] NULL,
	[description] [nvarchar](max) NULL,
	[characteristics] [nvarchar](max) NULL,
	[condition_id] [int] NULL,
	[quantity_in_stock] [int] NULL,
	[is_available_for_sale] [bit] NULL,
	[is_available_for_rent] [bit] NULL,
	[main_image_url] [nvarchar](500) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[views_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[instrument_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_statuses]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_statuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[color_code] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchase_orders]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchase_orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [nvarchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
	[instrument_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [float] NOT NULL,
	[total_price] [float] NOT NULL,
	[shipping_first_name] [nvarchar](50) NULL,
	[shipping_last_name] [nvarchar](50) NULL,
	[shipping_phone] [nvarchar](20) NULL,
	[shipping_address] [nvarchar](500) NULL,
	[shipping_city] [nvarchar](100) NULL,
	[shipping_postal_code] [nvarchar](20) NULL,
	[delivery_method] [nvarchar](50) NULL,
	[delivery_cost] [float] NULL,
	[status_id] [int] NOT NULL,
	[order_date] [datetime] NULL,
	[shipped_date] [datetime] NULL,
	[delivered_date] [datetime] NULL,
	[cancelled_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_orders]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_orders](
	[rental_id] [int] IDENTITY(1,1) NOT NULL,
	[rental_number] [nvarchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
	[instrument_id] [int] NOT NULL,
	[rental_start_date] [date] NOT NULL,
	[rental_end_date] [date] NOT NULL,
	[actual_return_date] [date] NULL,
	[daily_price] [float] NOT NULL,
	[total_days]  AS (datediff(day,[rental_start_date],[rental_end_date])),
	[deposit_amount] [float] NULL,
	[total_amount] [float] NOT NULL,
	[delivery_address] [nvarchar](500) NULL,
	[status_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rental_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[rental_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rental_statuses]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rental_statuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[color_code] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repair_requests]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repair_requests](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[request_number] [nvarchar](50) NOT NULL,
	[user_id] [int] NOT NULL,
	[customer_instrument_name] [nvarchar](200) NOT NULL,
	[brand] [nvarchar](100) NULL,
	[model] [nvarchar](100) NULL,
	[problem_description] [nvarchar](max) NOT NULL,
	[problem_photos_urls] [nvarchar](max) NULL,
	[assigned_to] [int] NULL,
	[actual_cost] [float] NULL,
	[actual_completion_date] [date] NULL,
	[status_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[completed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[request_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[repair_statuses]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[repair_statuses](
	[status_id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[sort_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review_photos]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review_photos](
	[photo_id] [int] IDENTITY(1,1) NOT NULL,
	[review_id] [int] NOT NULL,
	[photo_url] [nvarchar](500) NOT NULL,
	[alt_text] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[instrument_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[comment] [nvarchar](max) NOT NULL,
	[is_approved] [bit] NULL,
	[moderated_by] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_user_order_review] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09.04.2026 16:26:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[phone] [nvarchar](20) NULL,
	[address] [nvarchar](500) NULL,
	[city] [nvarchar](100) NULL,
	[postal_code] [nvarchar](20) NULL,
	[avatar_url] [nvarchar](500) NULL,
	[is_email_verified] [bit] NULL,
	[email_verification_code] [nvarchar](10) NULL,
	[email_verification_expires] [datetime] NULL,
	[role_id] [int] NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [idx_cart_items_user]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_cart_items_user] ON [dbo].[cart_items]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_instruments_available_rent]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_instruments_available_rent] ON [dbo].[instruments]
(
	[is_available_for_rent] ASC
)
WHERE ([is_available_for_rent]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_instruments_available_sale]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_instruments_available_sale] ON [dbo].[instruments]
(
	[is_available_for_sale] ASC
)
WHERE ([is_available_for_sale]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_instruments_brand]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_instruments_brand] ON [dbo].[instruments]
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_instruments_category]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_instruments_category] ON [dbo].[instruments]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_instruments_condition]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_instruments_condition] ON [dbo].[instruments]
(
	[condition_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_instruments_price]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_instruments_price] ON [dbo].[instruments]
(
	[purchase_price] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_purchase_orders_date]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_purchase_orders_date] ON [dbo].[purchase_orders]
(
	[order_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_purchase_orders_status]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_purchase_orders_status] ON [dbo].[purchase_orders]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_purchase_orders_user]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_purchase_orders_user] ON [dbo].[purchase_orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_orders_dates]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_rental_orders_dates] ON [dbo].[rental_orders]
(
	[rental_start_date] ASC,
	[rental_end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_orders_instrument]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_rental_orders_instrument] ON [dbo].[rental_orders]
(
	[instrument_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_rental_orders_user]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_rental_orders_user] ON [dbo].[rental_orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_repair_requests_status]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_repair_requests_status] ON [dbo].[repair_requests]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_repair_requests_user]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_repair_requests_user] ON [dbo].[repair_requests]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_approved]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_reviews_approved] ON [dbo].[reviews]
(
	[is_approved] ASC
)
WHERE ([is_approved]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_instrument]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_reviews_instrument] ON [dbo].[reviews]
(
	[instrument_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_reviews_user]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_reviews_user] ON [dbo].[reviews]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_email]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_users_email] ON [dbo].[users]
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_users_login]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_users_login] ON [dbo].[users]
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_users_role]    Script Date: 09.04.2026 16:26:18 ******/
CREATE NONCLUSTERED INDEX [idx_users_role] ON [dbo].[users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((0)) FOR [is_for_rental]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT ('pending') FOR [delivery_status]
GO
ALTER TABLE [dbo].[deliveries] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[instrument_conditions] ADD  DEFAULT ((0)) FOR [discount_percentage]
GO
ALTER TABLE [dbo].[instrument_images] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[instrument_images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[instruments] ADD  DEFAULT ((1)) FOR [quantity_in_stock]
GO
ALTER TABLE [dbo].[instruments] ADD  DEFAULT ((1)) FOR [is_available_for_sale]
GO
ALTER TABLE [dbo].[instruments] ADD  DEFAULT ((1)) FOR [is_available_for_rent]
GO
ALTER TABLE [dbo].[instruments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[instruments] ADD  DEFAULT ((0)) FOR [views_count]
GO
ALTER TABLE [dbo].[order_statuses] ADD  DEFAULT ('#6c757d') FOR [color_code]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT ((0)) FOR [delivery_cost]
GO
ALTER TABLE [dbo].[purchase_orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[rental_orders] ADD  DEFAULT ((0)) FOR [deposit_amount]
GO
ALTER TABLE [dbo].[rental_orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[rental_statuses] ADD  DEFAULT ('#6c757d') FOR [color_code]
GO
ALTER TABLE [dbo].[repair_requests] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[repair_statuses] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[review_photos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT ((0)) FOR [is_approved]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([instrument_id])
REFERENCES [dbo].[instruments] ([instrument_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[purchase_orders] ([order_id])
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD FOREIGN KEY([rental_id])
REFERENCES [dbo].[rental_orders] ([rental_id])
GO
ALTER TABLE [dbo].[instrument_images]  WITH CHECK ADD FOREIGN KEY([instrument_id])
REFERENCES [dbo].[instruments] ([instrument_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[instruments]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[instruments]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[instruments]  WITH CHECK ADD FOREIGN KEY([condition_id])
REFERENCES [dbo].[instrument_conditions] ([condition_id])
GO
ALTER TABLE [dbo].[instruments]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([instrument_id])
REFERENCES [dbo].[instruments] ([instrument_id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[order_statuses] ([status_id])
GO
ALTER TABLE [dbo].[purchase_orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[rental_orders]  WITH CHECK ADD FOREIGN KEY([instrument_id])
REFERENCES [dbo].[instruments] ([instrument_id])
GO
ALTER TABLE [dbo].[rental_orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[rental_statuses] ([status_id])
GO
ALTER TABLE [dbo].[rental_orders]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[repair_statuses] ([status_id])
GO
ALTER TABLE [dbo].[repair_requests]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[review_photos]  WITH CHECK ADD FOREIGN KEY([review_id])
REFERENCES [dbo].[reviews] ([review_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([instrument_id])
REFERENCES [dbo].[instruments] ([instrument_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([moderated_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[purchase_orders] ([order_id])
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [CHK_rental_dates_cart] CHECK  (([is_for_rental]=(0) AND [rental_start_date] IS NULL AND [rental_end_date] IS NULL OR [is_for_rental]=(1) AND [rental_start_date] IS NOT NULL AND [rental_end_date] IS NOT NULL AND [rental_end_date]>[rental_start_date]))
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [CHK_rental_dates_cart]
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD  CONSTRAINT [CHK_delivery_reference] CHECK  (([order_id] IS NOT NULL AND [rental_id] IS NULL OR [order_id] IS NULL AND [rental_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[deliveries] CHECK CONSTRAINT [CHK_delivery_reference]
GO
ALTER TABLE [dbo].[deliveries]  WITH CHECK ADD CHECK  (([delivery_status]='cancelled' OR [delivery_status]='failed' OR [delivery_status]='delivered' OR [delivery_status]='in_transit' OR [delivery_status]='picked_up' OR [delivery_status]='assigned' OR [delivery_status]='pending'))
GO
ALTER TABLE [dbo].[rental_orders]  WITH CHECK ADD  CONSTRAINT [CHK_rental_dates] CHECK  (([rental_end_date]>[rental_start_date]))
GO
ALTER TABLE [dbo].[rental_orders] CHECK CONSTRAINT [CHK_rental_dates]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
